<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap.min.css}"
          href="../static/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/starter-template.css}"
          href="../static/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/dashboard.css}"
          href="../static/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/logo.png}" href="logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(anmeldung)"></div>

<div class="container">
    <div>
        <h1>Anmeldung</h1>

        <h2>Praktische Übungen</h2>
        <br>

        <div th:if="${#lists.size(uebungen) > 0}">
            <div th:each="index: ${#numbers.sequence(0, #lists.size(uebungen), 3)}">
                <div class="card-deck">
                    <div class="card" th:each="i: ${#numbers.sequence(index, index + 2, 1)}"
                         th:if="${i < #lists.size(uebungen)}">
                        <h5 class="card-header text-center text-white bg-dark" th:text="${uebungen[i].name}">Praktische
                            Übung 1</h5>
                        <div class="card-body">
                            <p class="card-text" th:inline="text">Modus: [[${uebungen[i].modus}]]</p>
                            <p class="card-text" th:inline="text">min Größe: [[${uebungen[i].minGroesse}]]</p>
                            <p class="card-text" th:inline="text">max Größe: [[${uebungen[i].maxGroesse}]]</p>
                            <p class="card-text" th:inline="text">Anmeldebeginn: [[${uebungen[i].anmeldebeginn}]]</p>
                            <p class="card-text" th:inline="text">Anmeldeschluss: [[${uebungen[i].anmeldeschluss}]]</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">Zur Übung anmelden</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

</body>
</html>