<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}"
          href="../static/css/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/css/dashboard.css}"
          href="../static/css/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/images/logo.png}" href="images/logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(anmeldung)"></div>

<div class="container">
        <h1>Anmeldung</h1>

        <h2>Praktische Übungen</h2>
        <br>

        <div th:if="${#lists.size(uebungen) > 0}">
            <div th:each="index: ${#numbers.sequence(0, #lists.size(uebungen), 3)}">
                <div class="card-deck">
                    <div class="card" th:each="i: ${#numbers.sequence(index, index + 2, 1)}"
                         th:if="${i < #lists.size(uebungen)}">
                        <h5 class="card-header text-center text-white bg-dark" th:text="${uebungen[i].name}">Praktische
                            Übung 1</h5>
                        <div class="card-body">
                            <p class="card-text" th:inline="text">Modus: [[${uebungen[i].modus}]]</p>
                            <p class="card-text" th:inline="text">min Größe: [[${uebungen[i].minGroesse}]]</p>
                            <p class="card-text" th:inline="text">max Größe: [[${uebungen[i].maxGroesse}]]</p>
                            <p class="card-text" th:inline="text">Anmeldebeginn: [[${uebungen[i].anmeldebeginn}]]</p>
                            <p class="card-text" th:inline="text">Anmeldeschluss: [[${uebungen[i].anmeldeschluss}]]</p>
                        </div>
                        <div class="card-footer text-center">
                            <a th:href="@{'/anmeldung/' + ${uebungen[i].id}}" class="btn btn-primary">Zur Übung anmelden</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>