<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>

    <link href="css/login.css" rel="stylesheet">

    <link rel="icon" th:href="@{/images/logo.png}" href="images/logo.png">
</head>
<body class="text-center">
<div class="container">
    <img src="images/logo.png" width="200" height="200">
    <h1 class>Praktische Übung Anmeldung</h1>
    <br>
    <a th:if="!${user}" href="/oauth2/authorization/github">Login using GitHub</a></li>
    <form th:if="${user}" action="/logout" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>