<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap.min.css}"
          href="../static/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/starter-template.css}"
          href="../static/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/dashboard.css}"
          href="../static/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/logo.png}" href="logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(verwaltung)"></div>
<div th:replace="fragments/sidebar :: sidebar(uebersichtStudenten)"></div>

<div class="container">
    <div>
        <h1>Übersicht</h1>

        <h2>Studenten</h2>
        <br>

        <div th:unless="${#lists.isEmpty(studenten)}">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Github</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${studenten}">
                    <td th:text="${student.id}">Student</td>
                    <td th:text="${student.github}">Student</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>