<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}"
          href="../static/css/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/css/dashboard.css}"
          href="../static/css/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/images/logo.png}" href="images/logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(verwaltung)"></div>
<div th:replace="fragments/sidebar :: sidebar(konfigurationStudenten)"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h1>Konfiguration</h1>

        <h2 th:inline="text">Studenten verwalten: [[${uebung.name}]]</h2>

        <br>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Termin</th>
                <th scope="col">Angemeldete Studenten</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="termin : ${uebung.termine}">
                <td th:text="${termin.tutor} + ' am ' + ${#temporals.format(termin.zeitpunkt, 'dd-MM-yyyy HH:mm')}">Termin</td>
                <td><span th:each="studentRef, iterStat : ${termin.studenten}"
                          th:text="${!iterStat.last} ? ${studenten.get(studentRef.id).github} +
                          ', ': ${studenten.get(studentRef.id).github}"></span></td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-6">
                <h2>Student hinzufügen / entfernen</h2>
                <form method="post">

                    <div class="form-group">
                        <label>Student</label>
                        <input type="text" name="github" th:value="*{github}" autocomplete="off" class="form-control"
                               placeholder="Github" required>
                    </div>

                    <div class="form-group">
                        <label>Termin</label>
                        <select th:value="*{terminId}" class="form-control" name="terminId" required>
                            <option value="">Termin auswählen</option>
                            <option th:each="termin : ${uebung.termine}" th:value="${termin.id}"
                                    th:text="${termin.tutor} + ' am ' + ${termin.zeitpunkt}"></option>
                        </select>
                    </div>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <button type="submit" class="btn btn-primary"
                            th:formaction="@{|${#httpServletRequest.requestURI}/hinzufuegen|}">Student hinzufügen
                    </button>

                    <button type="submit" class="btn btn-primary"
                            th:formaction="@{|${#httpServletRequest.requestURI}/entfernen|}">Student entfernen
                    </button>

                </form>

            </div>

            <div class="col-sm-6">
                <h2>Student verschieben</h2>
                <form method="post">

                    <div class="form-group">
                        <label>Student</label>
                        <input type="text" name="github" th:value="*{github}" autocomplete="off" class="form-control"
                               placeholder="Github" required>
                    </div>

                    <div class="form-group">
                        <label>Alter Termin</label>
                        <select th:value="*{terminAltId}" class="form-control" name="terminAltId" required>
                            <option value="">Termin auswählen</option>
                            <option th:each="termin : ${uebung.termine}" th:value="${termin.id}"
                                    th:text="${termin.tutor} + ' am ' + ${termin.zeitpunkt}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Neuer Termin</label>
                        <select th:value="*{terminNeuId}" class="form-control" name="terminNeuId" required>
                            <option value="">Termin auswählen</option>
                            <option th:each="termin : ${uebung.termine}" th:value="${termin.id}"
                                    th:text="${termin.tutor} + ' am ' + ${termin.zeitpunkt}"></option>
                        </select>
                    </div>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <button type="submit" class="btn btn-primary"
                            th:formaction="@{|${#httpServletRequest.requestURI}/verschieben|}">Student verschieben
                    </button>

                </form>

            </div>
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>