<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Praktische Übung</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="verwaltung">Verwalten</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="uebersicht">Übersicht<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div>
	  
        <h1>Übersicht</h1>
        <br>
		
		<h2>Praktische Übungen</h2>
		<br>
		
		<div th:each="uebung : ${uebungen}">
			<h4 th:text="${uebung.name}"></h4>
			<table class="table table-bordered">
  				<thead class="thead-dark">
    			<tr>
                    <th scope="col">Modus</th>
     		 		<th scope="col">min. Größe</th>
     		 		<th scope="col">max. Größe</th>
      				<th scope="col">Anmeldebeginn</th>
      				<th scope="col">Anmeldeschluss</th>
      				<th scope="col" colspan="3">Verwaltung</th>
    			</tr>
  				</thead>
  				<tbody>
    			<tr>
                    <td th:text="${uebung.modus}">0</td>
      				<td th:text="${uebung.minGroesse}">0</td>
      				<td th:text="${uebung.maxGroesse}">0</td>
      				<td th:text="${#temporals.format(uebung.anmeldebeginn, 'dd-MM-yyyy HH:mm')}">01-01-2000 01:01</td>
     				<td th:text="${#temporals.format(uebung.anmeldeschluss, 'dd-MM-yyyy HH:mm')}">01-01-2000 01:01</td>
     				<td><a th:href="@{'/uebersicht/' + ${uebung.name}}">Termine hinzufügen</a></td>
   		 		</tr>
  				</tbody>
			</table>
			
			<hr/>
			
			<div th:unless="${#lists.isEmpty(uebung.termine)}">
				<div th:each="termin : ${uebung.termine}">
					<h5>Termin</h5>
					<table class="table table-bordered">
  					<thead class="thead-light">
    					<tr>
     		 				<th scope="col">Tutor</th>
     		 				<th scope="col">Zeitpunkt</th>
      						<th scope="col">Reserviert</th>
      						<th scope="col" colspan="3">Verwaltung</th>
    					</tr>
  						</thead>
  						<tbody>
    					<tr>
      						<td th:text="${termin.tutor}">Tutor</td>
      						<td th:text="${#temporals.format(termin.zeitpunkt, 'dd-MM-yyyy HH:mm')}">01-01-2000 01:01</td>
      						<td th:text="${termin.reserviert}">false</td>
      						<td><a th:href="@{'/uebersicht/' + ${uebung.name} + '/' + ${termin.tutor} + '/' + ${termin.zeitpunkt}}">Studenten hinzufügen / verschieben</a></td>
        		 		</tr>
  						</tbody>
					</table>
					
					<div th:unless="${#lists.isEmpty(termin.studenten)}">
						<table class="table table-bordered">
  							<thead class="thead-light">
    							<tr>
     		 						<th scope="col">Angemeldete Studenten</th>
    							</tr>
  							</thead>
  							<tbody>
    							<tr th:each="studentRef : ${termin.studenten}">
      								<td th:text="${studentRef.id}">Student</td>
   		 						</tr>
  							</tbody>
						</table>
					</div>
					
					<hr/>
					
				</div>
			
			</div>
			
			<br>
		</div>
	  
      </div>

    </div>
	
  </body>
</html>