<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Praktische Übung</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="verwaltung">Verwalten</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="uebersicht">Übersicht<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div>
	  
        <h1>Übersicht</h1>
		
		<h2>Praktische Übungen</h2>

        <ul th:each="uebung : ${uebungen}">
          <h4 th:text="|${uebung.name}|"></h4>
          <li th:text="|${uebung.minGroesse}, ${uebung.maxGroesse},
          ${uebung.modus}, ${#temporals.format(uebung.anmeldebeginn, 'dd-MM-yyyy HH:mm')}
          , ${#temporals.format(uebung.anmeldeschluss, 'dd-MM-yyyy HH:mm')}|"></li>
          <br>
          <h5>Termine</h5>
          <ul th:each="termin : ${uebung.termine}">
            <li th:text="|${termin.tutor}, ${termin.zeitpunkt}|"></li>
          </ul>
        </ul>
	  
      </div>

    </div>
	
  </body>
</html>