<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap.min.css}"
          href="../static/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/starter-template.css}"
          href="../static/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/dashboard.css}"
          href="../static/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/logo.png}" href="logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(verwaltung)"></div>
<div th:replace="fragments/sidebar :: sidebar(konfigurationTermin)"></div>

<div class="container">
    <div>
        <h1>Konfiguration</h1>

        <h2>Termin konfigurieren</h2>

        <form method="post">

            <div class="form-group">
                <label>Übung</label>
                <select th:value="*{id}" class="form-control" name="id" required>
                    <option value="">Übung auswählen</option>
                    <option th:each="uebung : ${uebungen}" th:value="${uebung.id}" th:text="${uebung.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Tutor</label>
                <input type="text" name="tutor" th:value="*{tutor}" autocomplete="off" class="form-control"
                       placeholder="Tutor" required>
            </div>

            <div class="form-group">
                <label>Zeitpunkt</label>
                <input class="form-control" name="zeitpunkt" type="datetime-local"
                       th:value="*{zeitpunkt}" autocomplete="off" placeholder="2000-01-01T01:01" required>
            </div>

            <button type="submit" class="btn btn-primary">Termin hinzufügen</button>

        </form>

    </div>
</div>

</body>
</html>