<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praktische Übung</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}"
          href="../static/css/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/css/dashboard.css}"
          href="../static/css/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/images/logo.png}" href="images/logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(verwaltung)"></div>
<div th:replace="fragments/sidebar :: sidebar(konfigurationUebung)"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h1>Konfiguration</h1>

        <h2>Praktische Übung konfigurieren</h2>

        <form method="post" th:object="${uebung}">

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" th:value="*{name}" autocomplete="off" class="form-control"
                       placeholder="PÜ1" required>
            </div>

            <div class="form-group">
                <label>Anmeldungsmodus</label>
                <select th:field="*{modus}" class="form-control" name="modus" required>
                    <option value="">Anmeldungsmodus auswählen</option>
                    <option th:value="GRUPPENANMELDUNG">Gruppenanmeldung</option>
                    <option th:value="INDIVIDUALANMELDUNG">Individualanmeldung</option>
                </select>
            </div>

            <div class="form-group">
                <label>Anmeldebeginn</label>
                <input class="form-control" name="anmeldebeginn" type="datetime-local"
                       th:field="*{anmeldebeginn}" autocomplete="off" required>
                <small class="text-danger" th:errors="*{anmeldebeginn}"> Muss größer als 0 sein! </small>
            </div>

            <div class="form-group">
                <label>Anmeldeschluss</label>
                <input class="form-control" name="anmeldeschluss" type="datetime-local"
                       th:field="*{anmeldeschluss}" autocomplete="off" required>
                <small class="text-danger" th:errors="*{anmeldeschluss}"> Muss größer als 0 sein! </small>
            </div>

            <div class="form-group">
                <label>mindest Gruppengröße</label>
                <input type="text" class="form-control" th:value="*{minGroesse}" name="minGroesse" value="0"
                       placeholder="1" required>
                <small class="text-danger" th:errors="*{minGroesse}"> Muss größer als 0 sein! </small>
            </div>

            <div class="form-group">
                <label>maximale Gruppengröße</label>
                <input type="text" class="form-control" th:value="*{maxGroesse}" name="maxGroesse" value="0"
                       placeholder="1" required>
                <small class="text-danger" th:errors="*{maxGroesse}"> Muss größer als 0 sein! </small>
            </div>

            <div class="form-group">
                <label>Alte Termine übernehmen</label>
                <input type="checkbox" name="termineUebernehmen">
            </div>
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button type="submit" class="btn btn-primary">Praktische Übung erstellen</button>

        </form>

</main>

</body>
</html>

<!--<input type="checkbox" name="mycheckbox" th:checked="${flag}" />-->