<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Uebersicht der Termine</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}"
          href="../static/css/starter-template.css"
          rel="stylesheet">

    <link th:href="@{/css/dashboard.css}"
          href="../static/css/dashboard.css"
          rel="stylesheet">

    <link rel="icon" th:href="@{/images/logo.png}" href="images/logo.png">
</head>

<body>
<div th:replace="fragments/navbar :: navbar(verwaltung)"></div>
<div th:replace="fragments/sidebar :: sidebar(individualmodus)"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Übersicht</h1>

    <h2>[[${uebung.name}]]: <span class="badge badge-dark" th:text="${#lists.size(uebung.termine)}">0</span> Termine
    </h2>
    <br>

    <div th:unless="${#lists.isEmpty(uebung.termine)}">
        <div>
            <h5>Termine</h5>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Tutor</th>
                    <th scope="col">Wochentag</th>
                    <th scope="col">Zeitpunkt</th>
                    <th scope="col">Angemeldete Studenten</th>
                    <th scope="col">Mindestgröße eingehalten</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="termin : ${uebung.termine}">
                    <td th:text="${termin.tutor}">Tutor</td>
                    <td th:text="${#temporals.dayOfWeekName(termin.zeitpunkt)}">Tag</td>
                    <td th:text="${#temporals.format(termin.zeitpunkt, 'dd-MM-yyyy HH:mm')}">01-01-2000 01:01</td>
                    <td><span th:each="studentRef, iterStat : ${termin.studenten}"
                              th:text="${!iterStat.last} ? ${studenten.get(studentRef.id).github} +
                          ', ': ${studenten.get(studentRef.id).github}"></span></td>
                    <td>
                        <span th:if="${termin.studenten.size() < termin.minGroesse}" class="alert-danger">Nicht
                        ok!</span>
                        <span th:if="${termin.studenten.size() >= termin.minGroesse}" class="alert-success">Ok!</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>

                <form method="POST"
                      th:action="@{'/verwaltung/verteilung/individualmodus/' + ${uebung.id}  + '/verteilen'}">
                    <button class="btn btn-primary" type="submit" name="submit" value="value">Studenten Verteilen
                    </button>
                </form>

            </div>

            <br>

            <h2>Student verschieben</h2>
            <form method="post"
                  th:action="@{'/verwaltung/verteilung/individualmodus/' + ${uebung.id} + '/verschieben'}">

                <div class="form-group">
                    <label>Student</label>
                    <input type="text" name="github" th:value="*{github}" autocomplete="off" class="form-control"
                           placeholder="Github" required>
                </div>


                <div class="form-group">
                    <label>Alter Termin</label>
                    <select th:value="*{terminAltId}" class="form-control" name="terminAltId" required>
                        <option value="">Termin auswählen</option>
                        <option th:each="termin : ${uebung.termine}" th:value="${termin.id}"
                                th:text="${termin.tutor} + ' am ' + ${termin.zeitpunkt}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Neuer Termin</label>
                    <select th:value="*{terminNeuId}" class="form-control" name="terminNeuId" required>
                        <option value="">Termin auswählen</option>
                        <option th:each="termin : ${uebung.termine}" th:value="${termin.id}"
                                th:text="${termin.tutor} + ' am ' + ${termin.zeitpunkt}"></option>
                    </select>
                </div>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <button type="submit" class="btn btn-primary">
                    Student verschieben
                </button>

            </form>

            <br>

            <form method="POST"
                  th:action="@{'/verwaltung/verteilung/individualmodus/' + ${uebung.id}  + '/abschliessen'}">
                <button class="btn btn-danger" type="submit" name="submit" value="value">Repositories
                    erstellen
                </button>
            </form>

            <br>

        </div>

    </div>

    <a href="/verwaltung/verteilung/individualmodus" class="btn btn-primary">Zurück zur Übersicht</a>
    <br>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>